<app-menua-admin></app-menua-admin>
<div class="container m-auto px-auto">
    <div class="card w-75 m-auto">
       <div class="card-header">
        <h4 class="">Registrar Equipo</h4>
        <span>Añade la información para añadir tu equipo</span>
       </div>
       <div class="card-body">
        <form autocomplete="off" class="row g-3 text-start">
            <div class="col-md-6">
              <label for="inputEmail4" class="form-label">Nombre de Equipo</label>
              <input type="text" class="form-control" id="inputEmail4">
            </div>
            <div class="col-md-6">
              <label for="inputPassword4" class="form-label">Lider de Equipo</label>
              <input type="text" class="form-control" id="inputPassword4">
            </div>
            <div class="col-md-6">
                <label for="inputState" class="form-label">Numero de Integrantes</label>
                <select id="inputState" class="form-select">
                  <option selected>Selecciona el # de integrantes</option>
                  <option>...</option>
                </select>
              </div>
            <div class="col-md-6">
                <label for="inputState" class="form-label">Logo de Equipo (Opcional)</label>
                <div class="input-group">
                    <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                    <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">Button</button>
                  </div>
              </div>
              <div class="col-md-6">
                <label for="exampleFormControlTextarea1" class="form-label">Integrantes de Equipo</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Ingresa Nombre y Apellidos de cada Integrante de Equipo" rows="3"></textarea>
            </div>
              <div class="col-md-6">
                <label for="exampleFormControlTextarea1" class="form-label">Descripción de Equipo</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Descripción de Equipo" rows="3"></textarea>
            </div>
           
          </form>
       </div>
       <div class="card-footer">

       </div>
    </div>
</div>