<app-menua-admin></app-menua-admin>

<div class="container px-auto mx-auto my-auto">
    <h2 class="h2_large py-2 verde">Registrar Torneo</h2>
    <div class="container container_form p-3">
        <form autocomplete="off" class="row  align-items-center" >

            <!-- CAMPOS PARA INGRESAR NOMBRES Y APELLIDOS -->
            <div class=" row gx-4 g-2 mb-3 ">
                    <!-- CAMPO PARA INGRESAR LOS NOMBRES -->
                <div class="col-md">
                    <div class="mb-3">
                      <!--   <label class="form-label ">Nombre:</label> -->
                        <input type="text" class="form-control" formControlName="nombre"
                        placeholder="Ingrese el nombre del Torneo">
<!--                         <span *ngIf="campoValido('nombre')" class="form-text text-danger">
 -->                        <span  class="form-text text-danger">
                        Campo obligatorio</span>
                        <!-- <span class="form-text text-danger">Mínimo 4 letras</span>  -->
                    </div>
                </div>
                <!-- CAMPO PARA INGRESAR LOS APELLIDOS -->
                <div class="col-md">
                    <div class="mb-3">
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Selecciona el Videojuego</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                          </select>
                        <span class="form-text text-danger">
<!--                         <span *ngIf="campoValido('apellidos')" class="form-text text-danger">
 -->                        Campo obligatorio</span>
                     <!-- <span class="form-text text-danger">Mínimo 4 letras</span>  -->
                    </div>
                </div>
            </div>

            <!-- CAMPO PARA INGRESAR CORREO -->
            <div class="row  gx-4  g-2 mb-3">
                <div class="col-md">
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label text-white text-left">Describe la recompensa para el ganador</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>

                         <div>
                        <span class="form-text text-danger">
                            Dirección de correo no válida</span>
                        </div>
                        <span * class="form-text text-danger">
                        Patrón incorrecto</span>
                    </div>
                </div>
                <div class="col-md">
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label text-white text-left">Descripción del torneo</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>

                         <div>
                        <span class="form-text text-danger">
                            Dirección de correo no válida</span>
                        </div>
                        <span * class="form-text text-danger">
                        Patrón incorrecto</span>
                    </div>
                </div>
            </div>

            <!-- CAMPO PARA CONTRASEÑA Y CONFIRMACIÓN -->
            <div class="row gx-4 g-2 mb-3">
                <!-- CAMPO PARA INGRESAR LA CONTRASEÑA -->
                <div class="col-md">
                    <div class="mb-3">
                        <input type="text" class="form-control" formControlName="contrasenia"
                            placeholder="Ingrese su el nmbre del encargado">
                        <span class="form-text text-danger" >Mínimo 8
                            caracteres</span>
                    </div>
                </div>
                  <!-- CAMPO PARA CONFIRMAR LA CONTRASEÑA -->
                  <div class="col-md">
                    <div class="mb-3">
                        <input class="form-control" type="file" id="formFile">
                        <span class="form-text text-danger">Mínimo 8
                            caracteres</span>
                        <!-- <input type="password" class="form-control" formControlName="contrasenia"
                            placeholder="Ingrese su contraseña">
                        <span class="form-text text-danger" *ngIf="campoValido('contrasenia')">Mínimo 8
                            caracteres</span> -->
                    </div>
                </div>
            </div>

            <input type="text" class="form-control" formControlName="tipoUser" hidden>

            <div class="row gx-4 g-2 mb-3 text-center">
                <div class="">
                    <button type="submit"><a href="" routerLink="/ver-torneos" class="btn btn_primary ">Registrar</a></button>
                </div>
            </div>

         
            </form>
    </div>
</div>