.card{
    background-color: var(--black-secoond);
    border-radius: 0px;
    border-left: 15px solid var(--green-primary);
}
.nameTorneo{
    font-size: 20px;
    text-transform: uppercase;
    font-family: var(--bebas-font);
    line-height: 56px;
    letter-spacing: 2.6%;
    font-weight: bold;
}