
  
<!-- CONTENEDOR PARA EL FORMULARIO DE INICIO DE SESIÓN -->
<div class="container container_login  px-auto  h-50 my-5 text-center">
  <div class="row  align-items-center">
    <div class="col-md container_form py-5 " >
      <div class="titulo_login my-auto ">
        <h1 class="h1_large  ">INICIAR SESIÓN</h1>
      </div>
      <div class=" text-start my-auto">
        <form [formGroup]="miform" class="mx-auto  ">
          <div class="mb-4">
            <!-- <label class="form-label">Nombre de Usuario o Email</label> -->
            <input
              placeholder="Email"
              type="email"
              class="form-control  "
              formControlName="usuario"
              [pattern]="emailCheck"
            />
            <span class="span_form" *ngIf="emailReq()">Este campo es requerido</span>
            <span class="span_form" *ngIf="emailPat()">Dirección de correo no válida</span>
          </div>
          <div class="my-auto ">
            <!-- <label class="form-label">Contraseña</label> -->
            <input type="password" class="form-control mb-2" formControlName="contrasenia" placeholder="Contraseña" />
            <span *ngIf="campoValido('contrasenia')" class="span_form text-start">Mínimo 6 caractéres</span>
            <div class="row  me-2 my-4">
            </div>
          </div>
          <div class="d-grip  mx-auto text-center">
          <button (click)="loginUsuarios()" routerLink="/dashboard-admin" type="submit " class="btn btn_primary my-4 col-12">Entrar</button>
          <button type="button" routerLink="/registro" class="btn btn_secondary col-12">REGISTRARME</button>

          </div>
        </form>
      </div>
    </div>
    <div class="col-md py-5">
      <div class="bg-login"></div>
    </div>
  </div>
</div>

<!-- ESTILOS INTERFAZ DE INICIO -->
<!-- <div class="container-fluid header_inicio p-4 vh-100 my-auto">
  <h1 class="h1_large mt-auto">Titulo 1</h1>
  <h2 class="h2_large my-2">TITULO 2</h2>
  <p class="p_large w-50">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta odio vitae similique in consectetur eveniet dolor minima incidunt doloremque iusto!</p>
  <div class="d-grid gap-2 mb-auto d-md-block">
    <button type="button" class="btn btn_primary me-2">INICIAR SESIÓN</button>
    <button type="button" class="btn btn_secondary">REGISTRARME</button>
  </div>
</div> -->

<!-- CONTENEDOR PARA CARDS DE JUEGOS MÁS POPULARES -->

<!-- <form (ngSubmit)="formulario">
    <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="email" class="form-control" [ngModel]="email">

    </div>
    <div class="mb-3">
        <label class="form-label">Contraseña</label>
        <input type="password" class="form-control" formControlName="password">

    </div>
    <button (click)="loginUsuarios()" type="submit ">Entrar</button>
</form> -->
