.card{
    background-color: var(--black-secoond);
    font-size: 28px;
    line-height: 36px;
    font-weight: 700;
    font-family: var(--bebas-font);
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--green-primary);
}
