<app-menua-admin></app-menua-admin>

   <!-- CONTENEDOR PARA LA NAVEGACIÓN ENTRE LAS SECCIONES DE TORNEOS -->



  <div class="container text-center">
    <div class="container d-flex align-items-end flex-column my-4">
      <a routerLink="/registrar-torneos" class="btn btn_primary">Registrar Torneo</a>
    </div>
    <div class="bd-example">
      <nav class="nav nav-pills flex-column flex-sm-row mb-3" id="nav-tab" role="tablist">
          <button class="flex-sm-fill text-sm-center nav-link mx-2  active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Torneos Activos</button>
          <button class="flex-sm-fill text-sm-center nav-link mx-2" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false" tabindex="-1">Torneos Concluidos</button>
          <button class="flex-sm-fill text-sm-center nav-link mx-2" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false" tabindex="-1">Contact</button>
      </nav>

      <!-- CONTENEDOR PARA CARD DE TORNEOS EDITAR - AGREGAR -ELIMINAR -->
      <div class="container my-2  px-auto">
        <div class="card  my-2">
          <div class="row">
            <div class="col">
              <p class="p_normal">Nombre del Torneo</p>
            </div>
            <div class="col">
              <p class="p_normal fw-bold verde">FECHA <span class="p_normal text-white">00/00/00</span></p>
                <p class="p_normal fw-bold verde">HORA <span class="p_normal text-white">00:00 PM</span></p>
            </div>
            <div class="col">
              <a href="" routerLink="/registrar-torneos" class="btn btn-primary mx-2">Registrar</a>
              <a href=""routerLink="/" class="btn btn-danger mx-2">Eliminar</a>
              <a href="" routerLink="/registrar-torneos" class="btn btn-warning mx-2">Editar</a>
            </div>

          </div>
          
        </div>

      </div>


      <!-- CONTENEDOR PARA MOSTRAR LAS CARDS DE LOS TORNEOS ACTIVOS -->
      <div class="tab-content my-2" id="nav-tabContent">
        <div class="tab-pane fade active show" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
          <div class="card p-5 my-5 w-75 ">
            <div class="row ">
              <div class="col text-start">
                <a href="" class="btn btn_link text-white">NOMBRE DE VIDEOJUEGO</a>
                <h2 class="h2_large text-white">Nombre del Torneo</h2>
                <p class="p_normal fw-bold verde">FECHA <span class="p_normal text-white">00/00/00</span></p>
                <p class="p_normal fw-bold verde">HORA <span class="p_normal text-white">00:00 PM</span></p>
                <a href="" class="btn btn_link text-white">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-twitch" viewBox="0 0 16 16">
                  <path d="M3.857 0 1 2.857v10.286h3.429V16l2.857-2.857H9.57L14.714 8V0H3.857zm9.714 7.429-2.285 2.285H9l-2 2v-2H4.429V1.143h9.142v6.286z"/>
                  <path d="M11.857 3.143h-1.143V6.57h1.143V3.143zm-3.143 0H7.571V6.57h1.143V3.143z"/>
                </svg>
                VER TRANSMISIÓN
              </a>
              </div>
              <div class="col text-end">
                <div class="row row_vs">
                  <div class="col-sm">
                    <img src="https://s3.amazonaws.com/mlg-profile-production/profile_photos/12232050.png?v=1667756092178" class="img-fluid rounded-circle w-75" alt="">
                  </div>
                  <div class="col-sm text-center">
                    <h2 class="h2_large text-white">VS</h2>
                  </div>
                  <div class="col-sm">
                    <img src="https://s3.amazonaws.com/mlg-profile-production/profile_photos/12232050.png?v=1667756092178" class="img-fluid rounded-circle w-75" alt="">
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
          <p class="text-white">This is some placeholder content the <strong>Profile tab's</strong> associated content. Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the content visibility and styling. You can use it with tabs, pills, and any other <code>.nav</code>-powered navigation.</p>
        </div>
        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
          <p class="text-white">This is some placeholder content the <strong>Contact tab's</strong> associated content. Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the content visibility and styling. You can use it with tabs, pills, and any other <code>.nav</code>-powered navigation.</p>
        </div>
      </div>
      </div>

  </div>