.nav-pills{
    padding: .5rem 0;
}
.nav-link .active:checked {
    background-color: var(--black-secoond);
}

.tab-pane .card{
    border: none;
    border-radius: 5px;
    margin: auto;
    align-items: center;
    display: flex;
    justify-content: center;
    background-size: cover;
    background-image: url("https://images.unsplash.com/photo-1544652478-6653e09f18a2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-repeat: no-repeat;
    background-position: center center;
}
.row{
    align-items: center;
    display: flex;
    justify-content: center; 
}